.gifs{
    color: honeydew;
    text-decoration: none;
    position: relative;
}
.gifs img{
    width: 100%;
    border-radius: 2px;
}

.gifs h3{
    position: absolute;
    font-size: 14px;
    width: 100%;
    top: -14px;
    background: #00000053;
}

